:root {
  --default-bgc: #ffffff;
  --base-text-color: #000000;
  --second-text-color: #ff6b08;
  --footer-bgc: #f7f7f7;
  --accent-color: #ff6b01;
  --footer-text-color: #545454;
  --header-text-color: #ffffff;
  --backdrop-bgc: rgba(0, 0, 0, 0.25);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --white-text-color: #ffffff;
  --grey-text-color: #8c8c8c;
  --border-color: #000000;
}
