<main>
  <section class="film-card-box">
    <div class="empty-library">
      <img
        src="./images/cat-holds-cinema-ticket-popcorn.jpg"
        alt="happy popcorn"
        class="empty-library-image"
      />
      <h1 class="empty-library-title">
        You don't have any movies in your library!
      </h1>
      <p class="empty-library-text">
        To add movies return to
        <a href="./index.html" class="empty-library-link">Home</a>
      </p>
    </div>
    <div class="container film-card-box-container js-container">
      <ul class="movie-card js-library-movie-card"></ul>
      <ul class="list-pag js-pagination-box"></ul>
    </div>
  </section>
</main>
