.film-card-box {
  padding: 60px 0;
  color: black;
}
.empty-library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-library-image {
  width: 80%;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 780px;
  }
}

.empty-library-title {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  color: rgb(141, 14, 86);
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
  }
}

.empty-library-text {
  font-size: 16px;
  color: rgb(141, 14, 86);
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 28px;
  }
}

.empty-library-link {
  color: var(--accent-color);
}

.film-vote {
  text-align: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  padding: 1px 10px;
  border-radius: 5px;

  color: var(--white-text-color);
  background-color: var(--accent-color);

  @media screen and (min-width: 1280px) {
    font-size: 12px;
    line-height: 1.17;
    padding: 3px 12px;
  }
}
