<!-- <button class="popup-trigger">click on me</button> -->

<div class="popup">
  <div class="popup__content">
    <div class="popup__body">
      <button class="popup__close" type="button"></button>
      <div class="popup__text">
        <!-- ============================================================================         -->
        <ul class="team-list">
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Artem.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Артем Козлов</h2>
              <p class="team-list__positions">Team Leader</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/ThisNarciss"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Yula.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Юлія Жованик</h2>
              <p class="team-list__positions">Scrum Master</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/JulsZhovanyk"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img class="team-list__img" src="images/team/Ira.jpg" alt="Artem" />
            <div class="team-list__info">
              <h2 class="team-list__name">Ірина Колесник</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/I-Kolesnyk"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Denis.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Денис Барановський</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/Djucbko"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Petro.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Петро Псехо</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/Petro-Psekho"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Anna.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Ганна Чеченіна</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/AnnaChechenina"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Yarina.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Ярина Лехка</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/YarynaLe"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Alex_N.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Олександр Назаренко</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/nazarenkoalx"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Ilya.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Ілля Левченко</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/IlyaLevchenko04"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Aleksandr.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Олександр Мемей</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/OleksandrDika"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="team-list__item">
            <img
              class="team-list__img"
              src="images/team/Sergey.jpg"
              alt="Artem"
            />
            <div class="team-list__info">
              <h2 class="team-list__name">Сергій Алексєєв</h2>
              <p class="team-list__positions">Developer</p>
              <ul class="team-list__social">
                <li class="team-list__social-icons">
                  <a
                    href="https://github.com/sergeyalekseev1976"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-list__social-icons">
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <svg class="team-list__icon">
                      <use href="images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <!-- ======================================================================= -->
      </div>
    </div>
  </div>
</div>
