<div class="backdrop is-hidden" data-modal>
  <div class="modal-film-card">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-film-card-wrapper">
      <div class="modal-card-box"></div>
      <div>
        <div class="modal-film-content"></div>
        <div class="modal-select-btn">
          <button
            class="btn watched-btn js-add-to-watched-btn"
            type="button"
          ></button>
          <button
            class="btn queue-btn js-add-to-queue-btn"
            type="button"
          ></button>
          <button class="btn trailer-btn js-trailer-btn" type="button">
            watch more promo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
